<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solmunity</title>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/board.css" />
    <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon" />
    <link rel="icon" href="/img/icon.ico" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <%- include('header') %>
    <div class="main">
      <div class="divSearch">
        <input type="text" class="keyword" />
        <img src="/img/search.svg" onclick="search()" class="search" />
      </div>

      <div class="register">
        <button id="btnRegister" type="button" onclick="register()">
          게시글 작성
        </button>
        <form id="formPostRegister" action="/board/register" method="post">
          <input type="text" name="email" hidden />
        </form>
      </div>

      <div class="board">
        <table id="table">
          <tr class="tableHead">
            <th id="no">번호</th>
            <th id="title">제목</th>
            <th id="writer">작성자</th>
            <th id="regDate">작성일</th>
          </tr>
          <% for(let i = data.bNoList.length - 1 ; i >= 0; i--) { %>
          <tr class="tableBody" onclick="read(<%= data.bNoList[i] %>)">
            <td><%= data.bNoList[i] %></td>
            <td><%= data.titleList[i] %></td>
            <td><%= data.writerList[i] %></td>
            <td id="regDate"><%= data.dateList[i] %></td>
          </tr>
          <% } %>
        </table>
        <form id="formPostRead" action="/board/read" method="post" hidden>
          <input type="text" name="email" />
          <input type="text" name="bNo" />
        </form>
      </div>
    </div>
  </body>

  <script>
    const btnRegister = document.querySelector('#btnRegister')

    function register() {
      if (member == null) {
        alert('로그인 후 글을 작성할 수 있습니다')
        window.location.href = '/signin'
      } else {
        const formPostRegister = document.querySelector('#formPostRegister')
        formPostRegister.email.value = member.email
        formPostRegister.submit()
      }
    }

    function read(bNo) {
      const formPostRead = document.querySelector('#formPostRead')
      console.log('bNo: ' + bNo)

      if (member != null) {
        console.log('member: ', member.email)
        formPostRead.email.value = member.email
        formPostRead.bNo.value = bNo
      } else {
        console.log('member: ', 'guest')
        formPostRead.email.value = 'guest'
        formPostRead.bNo.value = bNo
      }
      formPostRead.submit()
    }
  </script>
</html>
