<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solmunity</title>
    <link rel="stylesheet" href="/css/read.css" />
    <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon" />
    <link rel="icon" href="/img/icon.ico" type="image/x-icon" />
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <%- include('header') %>
    <div class="main">
      <div class="read">
        <div class="innerRead">
          <div class="innerInfo">
            <p>
              <span class="b">
                <a href="/board" style="text-decoration: none">Board</a>
              </span>
              <span class="gt">></span>
              Read
            </p>
            <p class="info">
              <span id="nickname">
                작성자: <%= data.findedBoard.MEMBER.nickname %>
              </span>
              <span id="date"><%= data.date %></span>
              <% if (data.writer) { %>
              <span class="modifyAndRemove">
                <span class="modify" onclick="modify()"> 수정 </span>
                |
                <span class="remove" onclick="remove()"> 삭제 </span>
              </span>
              <% } %>
            </p>
            <p id="title"><%= data.findedBoard.title %></p>
            <hr style="margin-left: 0; width: 15%; border: 1.5px black solid" />
            <div id="content">
              <div class="divImage">
                <% for(let i = data.imageList.length - 1; i >= 0; i--) { %>
                <img src="<%= data.imageList[i] %>" />
                <% } %>
              </div>
              <%= data.findedBoard.content %>
            </div>
            <div class="divReply">
              <textarea
                type="text"
                id="textareaReply"
                placeholder="댓글을 작성해주세요."
              ></textarea>
              <button type="button" onclick="replyRegister()" id="btnReply">
                등록
              </button>
            </div>
            <div class="divReplies">
              <% for(let i = data.rNoList.length - 1; i >= 0 ; i--) { %>
              <span class="replyWriter"><%= data.writerList[i] %></span>
              <span class="replyText">
                <%= data.textList[i] %>
                <!-- 댓글 작성자만 삭제할 수 있도록 -->
                <% if(data.emailList[i] == data.email) {%>
                <img
                  src="/img/delete.png"
                  class="imgDel"
                  onclick="replyRemove(<%= data.rNoList[i] %>)"
                />
                <% } %></span
              >

              <span class="replyDate"><%= data.dateList[i] %></span>
              <% if(i != 0) { %>
              <hr />
              <% } %> <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form action="/board/modify" method="post" id="formPostBoardModify" hidden>
      <input type="text" name="bNo" />
      <input type="text" name="email" />
    </form>
    <form action="/board" method="post" id="formPostBoard" hidden></form>
  </body>

  <script>
    console.log('<%= data.imageList[0] %>');
    const email = member.email
    const bNo = <%= data.findedBoard.bNo %>

    function modify() {
      const formPostBoardModify = document.querySelector('#formPostBoardModify')

      formPostBoardModify.bNo.value = bNo
      formPostBoardModify.submit()
    }

    async function remove() {
      console.log(bNo)
      const data = { bNo }
      if (confirm('게시글을 삭제하시겠습니까?')) {
        const respone = await axios({
          data,
          method: 'DELETE',
          url: '/board/read/remove',
        })
        const resData = respone.data
        console.log(resData)

        if (resData.result) {
          alert(resData.message)
          const formPostBoard = document.querySelector('#formPostBoard')
          formPostBoard.submit()
        } else {
          alert(resData.message)
          return false
        }
      } else {
        return false
      }
    }

    async function replyRegister() {
      const data = {
        bNo,
        email: member.email,
        text: document.querySelector('#textareaReply').value,
      }
      console.log('data: ', data)

      const respone = await axios({
        data,
        method: 'POST',
        url: '/board/reply/register',
      })
      const resData = respone.data
      console.log('resData: ', resData)

      if (resData.result) {
        alert(resData.message)
        location.reload()
      } else {
        alert(resData.message)
        location.reload()
      }
    }

    async function replyRemove(rNo) {
      if (confirm('댓글을 삭제하시겠습니까?')) {
        const data = {
          rNo,
          email: member.email,
        }
        console.log('data: ', data)

        const respone = await axios({
          data,
          method: 'DELETE',
          url: '/board/reply/remove',
        })
        const resData = respone.data
        console.log('resData: ', resData)

        if (resData.result) {
          alert(resData.message)
          location.reload()
        } else {
          alert(resData.message)
          location.reload()
        }
      } else {
        return
      }
    }
  </script>
</html>
